@import "ctp-mocha.css";

* {
  border-radius: 10px;
  font-family: Noto Sans Nerd Font;
  font-size: 14px;
  background-color: transparent;
}

.modules-right {
  background-color: @surface0;
  padding: 0rem 0.7rem 0rem 0.7rem;
  margin: 5px 0px 5px 0px;
}

.modules-center {
  background-color: @surface0;
  margin: 5px 0px 5px 0px;
}

.modules-left {
  background-color: @surface0;
  margin: 5px 0px 5px 0px;
}

tooltip {
  background-color: @surface0;
  color: @text;
}

#workspaces {
  margin: 1px 5px 1px 5px;
}

#workspaces button {
  color: @text;
  font-weight: bolder;
  margin: 2px 2px;
  min-width: 10px;
}

#workspaces button:hover {
  background-color: alpha(@overlay0, 0.5);
  color: @text;
  border-radius: 20px;
}

#workspaces button.active {
  color: @text;
  background-color: @overlay0;
  border-radius: 20px;
}

#clock {
  font-weight: bolder;
  color: @text;
  padding: 0rem 1rem 0rem 1rem;
}

#idle_inhibitor {
  color: #d4be98;
  padding: 0 0.1em 0 0.1em;
}

#idle_inhibitor.activated {
  color: #d3869b;
}

#memory {
  color: #a9b665;
  padding: 0 0.3em 0 0.5em;
  border-radius: 10px 0 0 10px;
}

#pulseaudio {
  margin: 0;
  padding: 0 0.4em 0 0.4em;
  color: #d8a657;
}

#cpu {
  margin: 0;
  padding: 0 0.1em 0 0.1em;
  color: #a9b665;
}

#network {
  margin: 0;
  padding: 0 0.4em 0 0.5em;
  color: #d8a657;
}

#language {
  margin: 0;
  padding: 0 0.1em;
  color: #d3869b;
}

#disk {
  margin: 0;
  padding: 0 0.1em 0 0.1em;
  color: #a9b665;
}

#window {
  color: #ebdbb2;
  margin-left: 0rem;
  margin-right: 1rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.818);
  transition: all 0.1s ease-in-out;
  border-radius: 0px;
  font-size: 15px;
}
