[Desktop Entry]
Name=Grand Theft Auto IV
Comment=Play this game on Steam
Exec=steam steam://rungameid/12210
Icon=/home/korsilyn//.config/steamtinkerlaunch/games/header/12210.jpg
Terminal=false
Type=Application
Categories=Game;
