[Desktop Entry]
Name=Raft
Comment=Play this game on Steam
Exec=steam steam://rungameid/648800
Icon=/home/korsilyn/.config/steamtinkerlaunch/games/header/648800.jpg
Terminal=false
Type=Application
Categories=Game;
