[Desktop Entry]
Name=Grand Theft Auto 3
Comment=Play this game on Steam
Exec=steam steam://rungameid/12100
Icon=/home/korsilyn//.config/steamtinkerlaunch/games/header/12100.jpg
Terminal=false
Type=Application
Categories=Game;
